ultralytics==8.2.50
opencv-python-headless==4.8.0.76
numpy
pandas
scikit-learn
matplotlib
seaborn
filterpy
lapx
torch
torchvision
torchaudio
streamlit
pyttsx3
sounddevice
scipy
moviepy
Pillow
deep-sort-realtime
gTTS
pydub
