ultralytics==8.2.50
opencv-contrib-python-headless==4.8.0.76
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.3.0
matplotlib
seaborn
filterpy
lapx
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
streamlit
pyttsx3
sounddevice
scipy
moviepy
Pillow
deep-sort-realtime
gTTS
pydub
gdown
